<div class="nav">
    <div class="nav-item">
        <a href="/" class="item">메인으로</a>
        <!--v-if-->
    </div>
    <div class="nav-item"><a href="/introduce" class="item">Introduce</a>
        <div class="nav-item-drawer">
            <a href="/introduce/IntroSite" class="">Site</a>
        </div>
    </div>
    <div class="nav-item">
        <a href="/video" class="router-link-active router-link-exact-active item" aria-current="page">신창섭 노래모음</a>
        <!--v-if-->
    </div>
    <div class="nav-item">
        <a href="/Swipertest" class="item">SwiperTest</a>
        <!--v-if-->
    </div>
    <p class="item">asdas</p>
</div>



<div class="nav">
    <div class="nav-item">
        <a href="/" class="item">메인으로</a>
        <!--v-if-->
    </div>
    <div class="nav-item"><a href="/introduce" class="item">Introduce</a>
        <div class="nav-item-drawer">
            <a href="/introduce/IntroSite" class="">Site</a>
        </div>
    </div>
    <div class="nav-item">
        <a href="/video" class="item">신창섭 노래모음</a>
        |<!--v-if-->
    </div>
    <div class="nav-item">
        <a href="/Swipertest" class="router-link-active router-link-exact-active item" aria-current="page">SwiperTest</a>
        <!--v-if-->
    </div>
    <p class="item">asdas</p>
</div>